.create-form {
  @include justify(center);

  .form-container {
    display: grid;
    gap: 20px;
    width: 70%;

    .password-container,
    .confirm-password-container {
      position: relative;
      width: 100%;
    }
  }
}
