.Coin-Name-Logo {
  @include justify(center);
  gap: 10px;
  margin: 15px auto 45px;

  img {
    height: 30px;
    width: 30px;
  }
}
.areachart {
  text-align: center;

  ul {
    @include justify(space-evenly);
    margin: 10px auto;
  }
}
.center {
  text-align: center;
  margin: 15px auto;
}
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  width: 95%;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.grid-container2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 15px;

  span {
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.recharts-tooltip-wrapper {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    60% 75%,
    50% 100%,
    40% 75%,
    0% 75%
  );
  color: inherit;
}
