.theme-container {
  label {
    letter-spacing: 1px;
    margin: 5%;
  }
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }
}
.background-selector {
  @include justify(space-around);
  margin: 15px auto 20px;
  width: 100%;
  max-width: 900px;

  .active {
    transform: scale(105%);
  }

  .Lbox {
    @include justify(center);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid $Dcolor1;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 2px 3px 10px 2px $darkShadows;

    &:hover {
      transform: scale(105%);
    }
    @media screen and (max-width: 720px) {
      width: 50px;
      height: 50px;
      font-size: 0.6rem;
    }
  }
  .Dbox {
    @include justify(center);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid $landingLight;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 2px 3px 10px 2px $landingShadows;

    &:hover {
      transform: scale(105%);
    }
    @media screen and (max-width: 720px) {
      width: 50px;
      height: 50px;
      font-size: 0.6rem;
    }
  }
}

.Lbtn {
  background: none;
  border: 1px solid $Dcolor1;
  border-radius: 20px;
  padding: 15px 20px;
  color: inherit;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 2px 3px 10px 2px $darkShadows;

  &:hover {
    transform: scale(105%);
  }
}
.Dbtn {
  background: none;
  border: 1px solid $landingLight;
  border-radius: 20px;
  padding: 15px 20px;
  color: inherit;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 2px 3px 10px 2px $landingShadows;

  &:hover {
    transform: scale(105%);
  }
}
.favorite-list-container {
  @include justify(center);
  flex-direction: column;
}
.param-fav {
  width: 100%;
  max-width: 200px;
  margin: 25px auto 35px;
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 5px;
  letter-spacing: 1px;
  font-size: 1.2rem;

  svg {
    cursor: pointer;
  }
}
.logout-btn {
  margin: 0 auto;
  display: block;
}
