.table {
  width: 95%;

  @media screen and (max-width: 1200px) {
    font-size: 0.8rem;
  }
  @media screen and (max-width: 950px) {
    display: none;
  }
}
.table-container {
  @include justify(center);
  text-align: center;
  thead {
    margin-bottom: 5px;
  }
  tr {
    margin: 1px;
  }
  img {
    height: 25px;
    width: 25px;
  }
  svg {
    cursor: pointer;
  }
}
.smallTable {
  display: none;
  width: 95%;

  table {
    width: 95%;
  }

  @media screen and (max-width: 950px) {
    @include justify(center);
  }
  @media screen and (max-width: 575px) {
    font-size: 0.6rem;
  }
}

.Dselect {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid $landingLight;
  color: inherit;
  font-weight: bold;
  text-shadow: 2px 3px 3px $landingShadows;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
.Lselect {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid $Dcolor1;
  color: inherit;
  text-shadow: 2px 3px 3px $darkShadows;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
