.Dcoin-result {
  display: grid;
  grid-template-columns: 30% 70%;
  border-radius: 15px;
  border: 1px solid $landingLight;
  width: 90%;
  max-width: 1200px;
  margin: 10px auto;
  padding: 5px;
  transition: 0.3s ease;
  box-shadow: 2px 3px 10px 2px $landingShadows;

  img {
    width: 125px;
    height: 125px;
    border-radius: 10px;
  }

  &:hover {
    transform: scale(102%);
  }

  h2 {
    cursor: pointer;
  }
  @media screen and (max-width: 850px) {
    font-size: 0.8rem;
  }
}
.Lcoin-result {
  display: grid;
  grid-template-columns: 30% 70%;
  border-radius: 15px;
  border: 1px solid $Dcolor1;
  width: 90%;
  max-width: 1200px;
  margin: 10px auto;
  padding: 5px;
  transition: 0.3s ease;
  box-shadow: 2px 3px 10px 2px $darkShadows;

  &:hover {
    transform: scale(102%);
  }

  h2 {
    cursor: pointer;
  }
  img {
    width: 125px;
    height: 125px;
    border-radius: 10px;
    margin: 15px;

    @media screen and (max-width: 500px) {
      height: 75px;
      width: 75px;
    }
  }
  @media screen and (max-width: 850px) {
    font-size: 0.8rem;
  }
}
.Linput {
  text-align: center;
  background: none;
  outline: none;
  border-radius: 20px;
  border: 1px solid $Dcolor1;
  font-size: 1.2rem;
  padding: 12px 25px;
  transition: 0.2s ease;
  box-shadow: 2px 3px 10px 2px $darkShadows;
  color: inherit;

  &:focus {
    transform: scale(105%);
  }
  &:hover {
    transform: scale(108%);
  }
  &::placeholder {
    color: $Dcolor1;
  }
}
.Dinput {
  text-align: center;
  background: none;
  outline: none;
  border-radius: 20px;
  border: 1px solid $landingLight;
  font-size: 1.2rem;
  padding: 12px 25px;
  transition: 0.2s ease;
  box-shadow: 2px 3px 10px 2px $landingShadows;
  color: inherit;

  &:focus {
    transform: scale(105%);
  }
  &:hover {
    transform: scale(108%);
  }
  &::placeholder {
    color: $landingLight;
  }
}
.Lbtn {
  background: none;
  border: 1px solid $Dcolor1;
  border-radius: 20px;
  padding: 15px 20px;
  color: inherit;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 2px 3px 10px 2px $darkShadows;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 0;
    transition: 0.4s ease-in-out;
    border-radius: 20px;
    z-index: -1;
  }
  &:hover::before {
    width: 100%;
  }
}
.Dbtn {
  background: none;
  border: 1px solid $landingLight;
  border-radius: 20px;
  padding: 15px 20px;
  color: inherit;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 2px 3px 10px 2px $landingShadows;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 0;
    transition: 0.4s ease-in-out;
    border-radius: 20px;
    z-index: -1;
  }
  &:hover::before {
    width: 100%;
  }
}
.background-selector {
  .active {
    transform: scale(105%);
  }

  .Lbox {
    @include justify(center);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid $Dcolor1;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 2px 3px 10px 2px $darkShadows;

    &:hover {
      transform: scale(105%);
    }
    @media screen and (max-width: 720px) {
      width: 50px;
      height: 50px;
      font-size: 0.6rem;
    }
  }
  .Dbox {
    @include justify(center);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid $landingLight;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 2px 3px 10px 2px $landingShadows;

    &:hover {
      transform: scale(105%);
    }
    @media screen and (max-width: 720px) {
      width: 50px;
      height: 50px;
      font-size: 0.6rem;
    }
  }
}
.dark-tooltip,
.light-tooltip {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    60% 75%,
    50% 100%,
    40% 75%,
    0% 75%
  );
  padding: 5px 10px 35px;

  p {
    margin: 5px;
    text-align: center;
  }
}
.dark-tooltip {
  background: $landingLight;
  color: $Dcolor1;
}
.light-tooltip {
  background: $Dcolor1;
  color: $landingLight;
}
.active {
  &::after {
    opacity: 1 !important;
    width: 100% !important;
  }
}

.darkLink {
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    width: 0;
    height: 2px;
    background: $landingLight;
    position: absolute;
    bottom: -5px;
    left: 50%;
    opacity: 0;
    transition: 0.3s ease-in-out;
    transform: translateX(-50%);
  }
  &:hover {
    transform: scale(102%), translateX(-50%);
  }
  &:hover::after {
    opacity: 1;
    width: 100%;
  }
}
.lightLink {
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    width: 0;
    height: 2px;
    background: $Dcolor1;
    position: absolute;
    bottom: -5px;
    left: 50%;
    opacity: 0;
    transition: 0.3s ease-in-out;
    transform: translateX(-50%);
  }
  &:hover {
    transform: scale(102%), translateX(-50%);
  }
  &:hover::after {
    opacity: 1;
    width: 100%;
  }
}
.pointer {
  cursor: pointer;
}
