//Light Background Color Classes
.Lcolor1 {
  color: $Dcolor1;
  background: $Lcolor1;
}
.Lcolor2 {
  color: $Dcolor1;
  background: $Lcolor2;
}
.Lcolor3 {
  color: $Dcolor1;
  background: $Lcolor3;
}
.Lcolor4 {
  color: $Dcolor1;
  background: $Lcolor4;
}
.Lcolor5 {
  color: $Dcolor1;
  background: $Lcolor5;
}
.Lcolor6 {
  color: $Dcolor1;
  background: $Lcolor6;
}
.Lcolor7 {
  color: $Dcolor1;
  background: $Lcolor7;
}
//Dark Background Color Classes
.Dcolor1 {
  color: $landingLight;
  background: $Dcolor1;
}
.Dcolor2 {
  color: $landingLight;
  background: $Dcolor2;
}
.Dcolor3 {
  color: $landingLight;
  background: $Dcolor3;
}
.Dcolor4 {
  color: $landingLight;
  background: $Dcolor4;
}
.Dcolor5 {
  color: $landingLight;
  background: $Dcolor5;
}
.Dcolor6 {
  color: $landingLight;
  background: $Dcolor6;
}
.Dcolor7 {
  color: $landingLight;
  background: $Dcolor7;
}
//Light Button Color Classes
.Lcolor1-btn {
  &::before {
    background: $Lbtn1;
  }
}
.Lcolor2-btn {
  &::before {
    background: $Lbtn2;
  }
}
.Lcolor3-btn {
  &::before {
    background: $Lbtn3;
  }
}
.Lcolor4-btn {
  &::before {
    background: $Lbtn4;
  }
}
.Lcolor5-btn {
  &::before {
    background: $Lbtn5;
  }
}
.Lcolor6-btn {
  &::before {
    background: $Lbtn6;
  }
}
.Lcolor7-btn {
  &::before {
    background: $Lbtn7;
  }
}
//Dark Button Color Classes
.Dcolor1-btn {
  &::before {
    background: $Dbtn1;
  }
}
.Dcolor2-btn {
  &::before {
    background: $Dbtn2;
  }
}
.Dcolor3-btn {
  &::before {
    background: $Dbtn3;
  }
}
.Dcolor4-btn {
  &::before {
    background: $Dbtn4;
  }
}
.Dcolor5-btn {
  &::before {
    background: $Dbtn5;
  }
}
.Dcolor6-btn {
  &::before {
    background: $Dbtn6;
  }
}
.Dcolor7-btn {
  &::before {
    background: $Dbtn7;
  }
}
//Light Theme Select Ul
.Lselect {
  border: 1px solid $Dcolor1;
  text-shadow: 2px 3px 3px $darkShadows;
  //Option Border
  li {
    border-bottom: 1px solid $Dcolor1;
  }
}
//Light Select Background Color
.Lcolor1-select {
  background: $Lcolor1;
}
.Lcolor2-select {
  background: $Lcolor2;
}
.Lcolor3-select {
  background: $Lcolor3;
}
.Lcolor4-select {
  background: $Lcolor4;
}
.Lcolor5-select {
  background: $Lcolor5;
}
.Lcolor6-select {
  background: $Lcolor6;
}
.Lcolor7-select {
  background: $Lcolor7;
}
//Dark Theme Select Ul
.Dselect {
  border: 1px solid $landingLight;
  text-shadow: 2px 3px 3px $landingShadows;
  //Option Border
  li {
    border-bottom: 1px solid $landingLight;
  }
}
//Dark Select Background Color
.Dcolor1-select {
  background: $Dcolor1;
}
.Dcolor2-select {
  background: $Dcolor2;
}
.Dcolor3-select {
  background: $Dcolor3;
}
.Dcolor4-select {
  background: $Dcolor4;
}
.Dcolor5-select {
  background: $Dcolor5;
}
.Dcolor6-select {
  background: $Dcolor6;
}
.Dcolor7-select {
  background: $Dcolor7;
}
