.Lcolor1 {
  color: $Dcolor1;
  background: $Lcolor1;
}
.Lcolor2 {
  color: $Dcolor1;
  background: $Lcolor2;
}
.Lcolor3 {
  color: $Dcolor1;
  background: $Lcolor3;
}
.Lcolor4 {
  color: $Dcolor1;
  background: $Lcolor4;
}
.Lcolor5 {
  color: $Dcolor1;
  background: $Lcolor5;
}
.Lcolor6 {
  color: $Dcolor1;
  background: $Lcolor6;
}
.Lcolor7 {
  color: $Dcolor1;
  background: $Lcolor7;
}
.Dcolor1 {
  color: $landingLight;
  background: $Dcolor1;
}
.Dcolor2 {
  color: $landingLight;
  background: $Dcolor2;
}
.Dcolor3 {
  color: $landingLight;
  background: $Dcolor3;
}
.Dcolor4 {
  color: $landingLight;
  background: $Dcolor4;
}
.Dcolor5 {
  color: $landingLight;
  background: $Dcolor5;
}
.Dcolor6 {
  color: $landingLight;
  background: $Dcolor6;
}
.Dcolor7 {
  color: $landingLight;
  background: $Dcolor7;
}
