//Landing Page Color
$landingLight: #fffaf7;
$landingShadows: rgba(255, 250, 247, 0.329);
$landing1: #7589e2;
$landing2: rgba(72, 82, 214, 0.3);
$landingDark: #4b3366;
//Light Theme Color
$Lcolor1: #0066ff;
$Lcolor2: #00ffff;
$Lcolor3: #00ff33;
$Lcolor4: #ff99cc;
$Lcolor5: #9933ff;
$Lcolor6: #ccff00;
$Lcolor7: #ff9900;
//Dark Theme Color
$Dcolor1: #000000;
$darkShadows: rgba(0, 0, 0, 0.247);
$Dcolor2: #333333;
$Dcolor3: #000033;
$Dcolor4: #000066;
$Dcolor5: #330099;
$Dcolor6: #ff0000;
$Dcolor7: #cc3300;
//Green and Red Graph Color
$redgraph: rgb(255, 51, 0);
$greengraph: rgb(0, 255, 102);
//btn-after
$Lbtn1: #0047b3;
$Lbtn2: #00b3b3;
$Lbtn3: #00b324;
$Lbtn4: #b36b8f;
$Lbtn5: #6b24b3;
$Lbtn6: #a3cc00;
$Lbtn7: #cc7a00;
$Dbtn1: #4d4d4d;
$Dbtn2: #707070;
$Dbtn3: #4d4d70;
$Dbtn4: #4d4d94;
$Dbtn5: #704db8;
$Dbtn6: #ff4d4d;
$Dbtn7: #db704d;

//Fonts
@font-face {
  font-family: "font1";
  src: url(../Fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "font2";
  src: url(../Fonts/Poppins/Poppins-Black.ttf);
}
//Fonts Variable
$font1: "font1", sans-serif;
$font2: "font2", sans-serif;

//Mixin
@mixin justify($content) {
  display: flex;
  justify-content: $content;
  align-items: center;
}
//General Settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

body {
  height: 100vh;
  background: url(../img/landing-background.jpg) bottom/cover;
  font-family: $font1;
  transition: 0.2s ease;
  text-align: center;
}

.root {
  width: 100%;
  height: 100vh;
}
//General Classes
.offscreen {
  position: absolute;
  left: -999999px;
}
.title {
  font-family: $font2;
  letter-spacing: 1px;
  text-align: center;
}
.Lshadow {
  text-shadow: 2px 3px 3px $darkShadows;
}
.Dshadow {
  text-shadow: 2px 3px 3px $landingShadows;
}
.Lbshadow {
  box-shadow: 2px 3px 10px 2px $darkShadows;
}
.Dbshadow {
  box-shadow: 2px 3px 10px 2px $landingShadows;
}
