//Landing Page Color
$landingLight: #fffaf7;
$landingShadows: rgba(255, 250, 247, 0.4);
$landing1: #7589e2;
$landing2: rgba(72, 82, 214, 0.3);
$landingDark: #4b3366;
//Light Theme Color
$Lcolor1: rgb(0, 102, 255);
$Lcolor2: rgb(0, 255, 255);
$Lcolor3: rgb(0, 255, 51);
$Lcolor4: rgb(255, 153, 204);
$Lcolor5: rgb(153, 51, 255);
$Lcolor6: rgb(204, 255, 0);
$Lcolor7: rgb(255, 153, 0);
//Dark Theme Color
$Dcolor1: rgb(0, 0, 0);
$darkShadows: rgba(0, 0, 0, 0.349);
$Dcolor2: rgb(51, 51, 51);
$Dcolor3: rgb(0, 0, 51);
$Dcolor4: rgb(0, 0, 102);
$Dcolor5: rgb(51, 0, 153);
$Dcolor6: rgb(255, 0, 0);
$Dcolor7: rgb(204, 51, 0);
//Green and Red Graph Color
$redgraph: rgb(255, 51, 0);
$greengraph: rgb(0, 255, 102);

//Fonts
@font-face {
  font-family: "font1";
  src: url(../Fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "font2";
  src: url(../Fonts/Poppins/Poppins-Black.ttf);
}
//Fonts Variable
$font1: "font1", sans-serif;
$font2: "font2", sans-serif;
//Mixin
@mixin justify($content) {
  display: flex;
  justify-content: $content;
  align-items: center;
}
//General Settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

body {
  height: 100vh;
  background: url(../img/landing-background.jpg) bottom/cover;
  font-family: $font1;
}

.root {
  width: 100%;
  height: 100vh;
}
//General Classes
.offscreen {
  position: absolute;
  left: -999999px;
}
.title {
  font-family: $font2;
  letter-spacing: 1px;
  text-align: center;
}
.Lshadow {
  text-shadow: 2px 3px 3px $darkShadows;
}
.Dshadow {
  text-shadow: 2px 3px 3px $landingShadows;
}
